body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  background-color:  bisque;
}

.navlinks{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100px;
  background-color: bisque;
  align-items: center;
  font-size: 22pt;
}

.home{
  background-color: bisque;
}

.home p{
  font-size: 22pt;
}

h1{
  color: #ce7d5d;
  font-size: 30pt;
}

td, th{
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 22pt;
}